* {
	font-family: 'Lato', sans-serif;
	list-style: none;
}

/* ========= header ========= */

.header {
	background-color: #252323;
}

.header > nav .logo {
	width: 160px;
	height: 75px;
}

.rede-sociais {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 560px){
	.search {
		width: 100%;
	}
	
	.search input {
		width: 380px;
	}
}

/* ========= Carousel ========= */

#area-slide > .slide_principal .carousel-item img {
	height: 300px;
}