* {
	font-family: 'Lato', sans-serif;
	list-style: none;
	outline: none;
	text-decoration: none;
}

html,body {
	height: 100%;
}

body {
	overflow-x: hidden;
}

/* ========= header ========= */

.header {
	background: radial-gradient(ellipse at center, rgba(222,222,222,1) 0%, rgba(214,214,214,1) 47%, rgba(207,207,207,1) 100%);
}

.header > nav .logo-img {
	width: 160px;
	height: 75px;
	box-shadow: 4px 4px 20px #fff;
	padding: 5px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.header > nav h3 {
	font-weight: bold;
	text-shadow: 3px 6px 5px #000;
}

.header > nav p {
	font-weight: bold;
	color:#fff;
	text-shadow: 3px 6px 5px #000;
	position: absolute;
	right: 25px;
	top: 70px;
}

.rede-sociais {
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 4px 4px 20px #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.search {
	display: flex;
	justify-content: space-between;
	width: 350px;
	box-shadow: inset 0 1px 3px #A9F5F2;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.search * {
	background: transparent;
	border: none;
	outline: none;
	
}

.search input {
	width: 89%;
	padding: 8px;
}


@media screen and (max-width: 560px){
	.search {
		width: 100%;
	}
	
	.search input {
		width: 380px;
	}
	
	.header {
		padding-top: 100px;
	}
	
	.header > nav .logo {
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.header > nav h3 {
		font-size: 20px;
	}
	
	.header > nav p {
		font-weight: bold;
		color:#fff;
		text-shadow: 3px 6px 5px #000;
		position: absolute;
		right: 40px;
		top: 60px;
		font-size: 15px;
	}
	
	.header > nav .rede-sociais {
		position: absolute;
		left: 190px;
		top: 35px;
	}
	
	.header > nav .btn-header {
		position: absolute;
		right: -3px;
		top: 3px;
	}
	
	.header > .menu-superior {
		flex-direction: column;
	}
	
	.login-redes-sociais {
		flex-direction: column;
	}
	
	.login-redes-sociais .login-facebook {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	
	.login-redes-sociais .login-google {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	#login > .modal-body form .btn-login {
		background-color: #12D1C5;
		padding: 5px 10px;
	}
}

/* ======== cards de propaganda ======== */

.cards-propaganda {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
 
@media screen and (max-width: 800px) {
	
	.cards-propaganda figure {
		background: radial-gradient(ellipse at center, rgba(222,222,222,1) 0%, rgba(214,214,214,1) 47%, rgba(207,207,207,1) 100%);
		padding-top: 20px;
	}
	
	.cards-propaganda figure hr {
		background-color: #fff;
		padding: 1px;
	}
	
	.cards-propaganda figure figcaption {
		margin-top: 30px;
		padding: 20px;
		
	}
	
	.cards-propaganda figure img {
		margin-left: 80px;
	}
}

/* ======== banner-principal ======== */

.banner-principal {
	position: relative;
}

.banner-principal figcaption {
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	width: 97.87%;
	height: 100%;
	opacity: 0;
	transition: opacity 2s;
}

.banner-principal:hover figcaption {
	opacity: 1;
}

.banner-principal figcaption .pagamento {
	position: absolute;
	left: 220px;
}

.banner-principal figcaption .valor-pagamento {
	position: absolute;
	left: 310px;
	bottom: -10px;
}

@media screen and (min-width: 870px) and (max-width: 1200px){
	
	.banner-principal figcaption {
		position: absolute;
		top: 0;
		width: 97%;
		height: 100%;
	}
	
	.banner-principal figcaption .atracoes-turisticas {
		position: absolute;
		top: 80px;
	}
	
	.banner-principal figcaption .pagamento {
		position: absolute;
		left: 190px;
		top: 80px;
	}
	
	.banner-principal figcaption .pagamento p {
		font-size: 25px;
	}
	
	.banner-principal figcaption .pagamento h3 {
		font-size: 22px;
	}

	.banner-principal figcaption .valor-pagamento {
		position: absolute;
		left: 220px;
		top: 17px;
	}
	
}

@media screen and (max-width: 870px) {
	
	.banner-principal figcaption {
		display: none;
	}
}

/* ======== modal ======== */

.bg-modal {
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

.text-title {
	text-shadow: 2px 2px 10px #b7deed;
}

.login-facebook {
	background-color: #3a559f;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.login-google {
	background-color: #ff920a;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.google-icon {
	color: #fff;
}

/* ========= jumbotron ========= */

.promocoes-select > div label, .promocoes {
	font-weight: bold;
	color:#fff;
	text-shadow: 3px 6px 5px #000;
	border: 1px solid #fff;
}

.promocoes-select > div .select-promocoes-container {
	width: 58%;
}

@media screen and (max-width: 560px) {
	
	.promocoes-select > div .select-promocoes-container .select-propaganda-text {
		width: 100%;
	}
}

@media screen and (max-width: 998px) {
	
	.promocoes-select > div .select-promocoes-container {
		width: 88%;
	}
}

/* ========= footer ========= */

.footer {
	background-color: #771AAF;
}

.footer hr {
	padding: 1px;
	background-color: #fff;
}

.footer > .container {
	margin-bottom: 60px;
}

.footer > .container h4 {
	color: #fff;
	font-weight: bold;
}

.footer > .container p {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	width: 500px;
	margin: 0 auto;
}

.footer > .container a:hover {
	color: #fff;
	text-decoration: none;
}

.footer > .container .newslatter-container form {
	width: 70%;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer > .container .newslatter-container form img {
	margin-left: 20px;
}

.footer > .container .newslatter-container form input {
	padding: 5px;
	height: 35px;
	width: 50%;
	border: 2px solid #fff;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.footer > .container .newslatter-container form button {
	padding: 5px 10px;
	height: 35px;
	background: transparent;
	font-weight: bold;
	color: #fff;
	border-radius: 12px;
	border: 2px solid #fff;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
}

.footer > .container .newslatter-container form button:hover {
	background: #fff;
	color: #771AAF;
	transition: 0.5s;
}

.footer > .menu-footer h4 {
	color: #fff;
	text-align: center;
	margin-left: 40px;
}

.footer > .menu-footer div ul li {
	text-align: center;
}

.footer > .menu-footer div ul li a {
	color: #fff;
}

@media screen and (max-width: 560px) {
	
	.footer > .container .newslatter-container  {
		position: relative;
		display: inline;
	}
	
	.footer > .container .newslatter-container form input {
		position: absolute;
		left: 0;
		top: 90px;
		width: 100%;
	}
	
	.footer > .container p {
		margin-top: 13%;
		width: 420px;
	}
	
	.footer > .contato-footer {
		margin-left: 100px;
	}
	
	.footer > .contato-footer div {
		flex-direction: column;
		
	}

}
